@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #77b6ea;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgba(221, 221, 221, 0.2);
}
.text {
  font-size: 50px;
  text-align: center;
  padding-top: 300px;
}
h1 {
  font-size: 3rem;
  font-family: "Nunito Sans";
  font-weight: 800;
  letter-spacing: -0.04em;
  color: #41627e;
  pointer-events: none;
  user-select: none;
}
h2 {
  font-size: 2rem;
  font-family: "Nunito Sans";
  font-weight: 500;
  pointer-events: none;
  user-select: none;
}
